/*

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

*/


.nav-link:hover, .nav-link:focus {
  color: #c34e2e;
}
.nav-link.disabled {
  color: #000000;
  pointer-events: none;
  cursor: default;
  font-size:  140%;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: #000000;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}
.nav-tabs .nav-link.disabled {
  color: #000000;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #f4623a;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
} 

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #000000;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-size:  140%;
}


/*
#mainNav {
  //opacity:  0.2;
 // background-color:  #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
*/
#mainNav{
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
body{
  background-image: linear-gradient(#FEA443, #B3AD12 , #FFF500);
position:  relative;
}
.fall-background{
  background: url('../photos/fall/fall-background.JPG')center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

img{
margin:  3%;
}
#Fall > img {
margin-top: 5%;

}
.winter-background {
  background: url('../photos/winter/winter-background.jpg')center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:  0 auto;
  margin-top:  5%;
}
/*
#winter-background-video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}*/
.travels-background {
  background: url('../photos/travels/travels-background.jpg')center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:  0 auto;
  margin-top:  5%;
}
.friends-background {
  background: url('../photos/friends/friends-background.jpg')center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:  0 auto;
  margin-top:  5%;
}
.food-background {
  background: url('../photos/food/food-background.jpg')center fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin:  0 auto;
  margin-top:  5%;
}
video{
  width:  25%;
  object-fit:  contain;
}
/*
.navbar-toggler {
  background-color:  black;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}
*/
/* Set the border color to the desired color */
.custom-toggler.navbar-toggler {
	border-color: rgb(23, 31, 23);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(98, 97, 98, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
/*.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
}*/

/*.fall-img-1{
  position:  relative;
  display:  inline-block;
}
.fall-img-1 > img {
  display: block;
}

  display:  flex;
  justify-content:  center;
  align-items: center;

 
.fall-img-1-overlay{
  position:  absolute;
  top:  0;
  left:  0;
  width: 100%;
  display:  flex;
  justify-content:  center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  color:  #fff;
  opacity:  0;
  transition:  opacity 500ms ease-in-out;
}

.fall-img-1-overlay:hover{
  opacity:  1;
}
.fall-img-1-overlay >*{
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
 */
footer{
  height:  5vh;
  font-size: 2em;
  text-align: center;
  
}